/* 전체 배경 */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f9fa;
    background-repeat: repeat;
}

/* 내용 컨테이너 */
.login-content {
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
}

/* 로고 */
.logo {
    font-size: 28px;
    font-weight: bold;
    color: #006241; /* 스타벅스 녹색 */
    margin-bottom: 20px;
}

/* 환영 문구 */
.welcome-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 설명 문구 */
.description {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 30px;
}

/* 폼 스타일 */
.login-form {
    display: flex;
    flex-direction: column;
}

/* 이메일, 비밀번호 인풋 */
.input-field {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
}

/* 비밀번호 입력칸 안 아이콘 */
.password-container {
    position: relative;
}

/* 비밀번호 찾기 */
.forgot-password {
    text-align: right;
    font-size: 12px;
    color: #007bff;
    margin-bottom: 20px;
    cursor: pointer;
}

/* 로그인 기타 탭 */
.login-etc-tab{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.login-etc-tab > div {
    margin: 10px;
    font-size: 14px;
    color: #6c757d;
}

/* 로그인 버튼 */
.login-button {
    padding: 12px;
    background-color: #00704a; /* 스타벅스 초록색 */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.side-button {
    margin-left: 10px;
    font-size: 14px;
}

.login-button:hover {
    background-color: #005c39;
}

.login-header {

}